@if (banner) {
  <div
      class="banner"
      [ngStyle]="{ background: banner.color }">
    @if (banner.icon) {
      <mat-icon class="icon">
        {{ banner.icon }}
      </mat-icon>
    }
    <div class="content">
      <div class="message">
        {{ banner.message }}
      </div>
      @if (banner.button) {
        <a
            class="button"
            mat-flat-button
            [href]="banner.buttonUrl"
            target="_blank">
          {{ banner.buttonLabel }}
        </a>
      }
    </div>
  </div>
}