.banner {
  padding: 20px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  color: #fff;

  .content {
    display: flex;
  }

  .icon {
    margin-right: 10px;  
    align-self: flex-start;
  }

  .message {
    flex-grow: 1;
    white-space: pre-line;
    width: 100%;
  }

  .button {
    align-self: flex-start;
    flex-shrink: 0;
    margin: -6px -6px -6px 10px;    
  }  
}

@media (max-width: 999px) {
  .content { 
    flex-direction: column;

    .button {
      margin: 8px 0 0 0;
    }
  }
}
